.disable-click {
  pointer-events: none;
  cursor: not-allowed; /* Change cursor to indicate non-clickable */
}

.modal-width {
  width: 250px !important;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 576px) {
  .modal-width {
    width: 250px !important;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
  .modal-width {
    width: 450px !important;
  }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
  .modal-width {
    width: 500px !important;
  }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
  .modal-width {
    width: 600px !important;
  }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
  .modal-width {
    width: 720px !important;
  }
}
